<RadzenStack AlignItems="AlignItems.End" class="rz-p-2">
    <RadzenButton Icon="west" Variant="Variant.Text" ButtonStyle="ButtonStyle.Secondary" Click="@(() => sidebarExpanded = false)" />
</RadzenStack>
<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Inicio" Icon="home" Path="/" />
    <RadzenPanelMenuItem Text="Gráfico" Icon="bar_chart" Path="//graficos" />
</RadzenPanelMenu>
<div class="rz-p-4">
    @* Sidebar *@
</div>

@code {
    bool sidebarExpanded = false;
}